# node_modules will be installed in docker and redundant for docker image
node_modules

# tests are redundant in production
test

# folder with build redundant in production
dist

# Elastic Beanstalk Files
.elasticbeanstalk/*

# Git history also is not needed in production
.git

# ignore all the rest
.gitignore
